rsrcs/dtds/module.dtd


<!ELEMENT module (myks_path)>
<!ATTLIST module
  version CDATA #REQUIRED
>

<!ENTITY % sliceable
 "file CDATA  #IMPLIED"
>


<!ATTLIST myks_path
  %sliceable
>

<!ELEMENT myks_path (path)*>

<!ELEMENT path #EMPTY>

<!ATTLIST path
  path CDATA    #REQUIRED
>

<!ELEMENT classes (class)+>

<!ELEMENT class #EMPTY>

<!ATTLIST class
  name CDATA  #REQUIRED
  path CDATA  #REQUIRED
>
