rsrcs/dtds/sql_tables.dtd

<!ELEMENT table ( description?, fields+,rule*)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT def (#PCDATA)>

<!ATTLIST table
  name    CDATA    #REQUIRED
  extend  CDATA    #IMPLIED
  %block;
>
<!ENTITY % fk_actions "(cascade|set_null|no_action)">

<!ELEMENT fields (field+)>

<!ELEMENT field EMPTY>
<!ATTLIST field
  type	CDATA	#REQUIRED
  name	CDATA	#IMPLIED
  key   CDATA  #IMPLIED
  extra (auto_increment) #IMPLIED
  default CDATA	#IMPLIED
  update %fk_actions; 'cascade'
  delete %fk_actions; 'no_action'
  defer (defer|strict) 'defer'
>